[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.9"
psycopg2 = "*"
python-decouple = "*"
dj-database-url = "*"

[dev-packages]
httpie = "*"
ipython = "*"
black = "*"

[requires]
python_version = "3.8"
